<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.ntlab.traceDebugger.category"
            name="TraceDebugger">
      </category>
      <view
            category="org.ntlab.traceDebugger.category"
            class="org.ntlab.traceDebugger.CallStackView"
            id="org.ntlab.traceDebugger.callStackView"
            name="CallStack (Offline)"
            restorable="true">
      </view>
      <view
            category="org.ntlab.traceDebugger.category"
            class="org.ntlab.traceDebugger.VariableView"
            id="org.ntlab.traceDebugger.variableView"
            name="Variable (Offline)"
            restorable="true">
      </view>
      <view
            category="org.ntlab.traceDebugger.category"
            class="org.ntlab.traceDebugger.BreakPointView"
            id="org.ntlab.traceDebugger.breakPointView"
            name="BreakPoint"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.ntlab.traceDebugger.category"
            class="org.ntlab.traceDebugger.DeltaMarkerView"
            id="org.ntlab.traceDebugger.deltaMarkerView"
            name="DeltaMarker"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.ntlab.traceDebugger.TraceDebuggerPerspective"
            id="org.ntlab.traceDebugger.traceDebuggerPerspective"
            name="TraceDebugger">
      </perspective>
   </extension>
   <extension
         point="org.ntlab.traceAnalysisPlatform.additionalClasspaths">
      <classpath
            class="org.ntlab.traceDebugger.analyzerProvider.ObjectFlowAnalyzerLaunchConfiguration">
      </classpath>
   </extension>
   <extension
         id="org.ntlab.traceDebugger.deltaMarker"
         name="DeltaMarker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="org.ntlab.traceDebugger.deltaMarker2"
         name="DeltaMarker2"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            icon="icons/deltaMarker.png"
            id="DeltaMarker"
            markertype="org.ntlab.traceDebugger.deltaMarker">
      </imageprovider>
      <imageprovider
            icon="icons/deltaMarker.png"
            id="DeltaMarker2"
            markertype="org.ntlab.traceDebugger.deltaMarker2">
      </imageprovider>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="org.ntlab.traceDebugger.deltaMarker"
            name="org.ntlab.traceDebugger.deltaAnnotation"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
      <type
            markerSeverity="0"
            markerType="org.ntlab.traceDebugger.deltaMarker2"
            name="org.ntlab.traceDebugger.deltaAnnotation2"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.ntlab.traceDebugger.deltaAnnotation"
            colorPreferenceKey="clcolor"
            colorPreferenceValue="255,128,0"
            highlightPreferenceKey="clhighlight"
            highlightPreferenceValue="true"
            icon="icons/deltaMarker.png"
            includeOnPreferencePage="true"
            label="DeltaAnnotation"
            overviewRulerPreferenceKey="clruler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="cltext"
            textPreferenceValue="true"
            textStylePreferenceKey="clstyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="clvertical"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="org.ntlab.traceDebugger.deltaAnnotation2"
            colorPreferenceKey="clcolor2"
            colorPreferenceValue="0,255,255"
            highlightPreferenceKey="clhighlight2"
            highlightPreferenceValue="true"
            icon="icons/deltaMarker.png"
            includeOnPreferencePage="true"
            label="DeltaAnnotation2"
            overviewRulerPreferenceKey="clruler2"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="cltext2"
            textPreferenceValue="true"
            textStylePreferenceKey="clstyle2"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="clvertical2"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerContentGenerator
            id="org.ntlab.traceDebugger.markerContentGenerator"
            name="DeltaMarkerView">
         <markerTypeReference
               id="org.ntlab.traceDebugger.deltaMarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.ntlab.traceDebugger.deltaMarker2">
         </markerTypeReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.descriptionField">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.resourceField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.pathField">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.locationField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.markerType">
         </markerFieldReference>
      </markerContentGenerator>
   </extension>

</plugin>
