<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.ntlab.traceDebugger.category"
            name="TraceDebugger">
      </category>
      <view
            category="org.ntlab.traceDebugger.category"
            class="org.ntlab.traceDebugger.CallStackView"
            id="org.ntlab.traceDebugger.callStackView"
            name="CallStack (Offline)"
            restorable="true">
      </view>
      <view
            category="org.ntlab.traceDebugger.category"
            class="org.ntlab.traceDebugger.VariableView"
            id="org.ntlab.traceDebugger.variableView"
            name="Variable (Offline)"
            restorable="true">
      </view>
      <view
            category="org.ntlab.traceDebugger.category"
            class="org.ntlab.traceDebugger.BreakPointView"
            id="org.ntlab.traceDebugger.breakPointView"
            name="BreakPoint"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.ntlab.traceDebugger.TraceDebuggerPerspective"
            id="org.ntlab.traceDebugger.traceDebuggerPerspective"
            name="TraceDebugger">
      </perspective>
   </extension>
   <extension
         point="org.ntlab.traceAnalysisPlatform.additionalClasspaths">
      <classpath
            class="org.ntlab.traceDebugger.analyzerProvider.ObjectFlowAnalyzerLaunchConfiguration">
      </classpath>
   </extension>
   <extension
         id="org.ntlab.traceDebugger.deltaMarker"
         name="DeltaMarker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            icon="icons/deltaMarker.png"
            id="DeltaMarker"
            markertype="org.ntlab.traceDebugger.deltaMarker">
      </imageprovider>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="org.ntlab.traceDebugger.deltaMarker"
            name="org.ntlab.traceDebugger.deltaAnotation"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.ntlab.traceDebugger.deltaAnotation"
            colorPreferenceKey="clcolor"
            colorPreferenceValue="255,69,0"
            highlightPreferenceKey="clhighlight"
            icon="icons/deltaMarker.png"
            includeOnPreferencePage="true"
            label="DeltaAnotation"
            overviewRulerPreferenceKey="clruler"
            textPreferenceKey="cltext"
            textStylePreferenceKey="clstyle"
            verticalRulerPreferenceKey="clvertical">
      </specification>
   </extension>

</plugin>
